<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>CarCam</title>

    <!--<link rel="stylesheet" href="styles.css">-->

</head>

<body>
    <div id="container">
        <div id="pictures">
            <table>
                <td>
                    <img src="/video_feed"
                        style="float:left; width:100%; max-width: 400px; max-height:300px; border-radius:10px"></img>
                </td>
                <td>
                    <img src="/seg_feed"
                        style="float:left; width:400%; max-width: 400px; max-height:300px; border-radius:10px"></img>
                </td>

            </table>
        </div>
        <div id="control_buttons">
            <table>
                <td>
                    <table>
                        <tr>
                            <td><button onclick="cmd_ajax('R')">Run</button></td>
                            <td> </td>
                            <td><button onclick="cmd_ajax('S')">Stop</button></td>
                            <td> </td>
                            <td><button onclick="cmd_ajax('C')">Switch NN mode</button></td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>
    </div>
</body>

<script type=text/javascript>
    function cmd_ajax(msg){
        $.ajax({
            type: "POST",
            url: "/process",
            data: JSON.stringify(msg),
            contentType: "application/json",
            dataType: 'json'
        });
    };

</script>

<script src="/static/js/jquery-3.6.0.js"></script>

</html>